// Structure

$base__space-unit: 1.5rem;
$max-screen-size:1240px;
$tablet-width:600px;
$desktop-width:1000px;
$border-solid: 1px solid #e1e1e1;
$border-dashed: 1px dashed #c8c8c8;

// Colors
$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link:  #248A83;
$color__link-visited: #248A83;
$color__link-hover: #2f1339;

$color__button-hover:#19625d;
$color__green-brand: #248A83;
$color__purple-brand: #2f1339;
$color__orange-brand: #d99054;
$color__yellow-brand: #f0e4d1;
$color__light-grey-brand: #a1a1a1;
$color__medium-grey-brand: #808080;

// Typography

$font__main: 'Merriweather Web', sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__accent: 'Novecento Sans Web', sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.75;
$font__line-height-pre: 1.6;


// Padding and Margin
$footer-padding-normal:3rem;
$footer-padding-narrow:3rem 1.5rem;
$content-padding-normal:3rem 3rem 2rem 3rem;
$widget-padding-normal: 3rem 3rem 2rem 3.5rem;
$content-padding-narrow:3rem 2rem 2rem 2rem;
$widget-padding-narrow: 3rem 1rem 2rem 1.5rem;
$header-padding-normal:.5rem 3rem;
$header-padding-narrow:.5rem 1.5rem;
