.post-type-archive-adventure{

    .site-content{
        .content-area{
            flex-basis:100%;
        }
    }
    .content-area{
        width:100vw;
        @include container-flex();
        padding: 1.5rem 3rem 4rem;  
        @include tablet{
            padding: 1.5rem 1.5rem 4rem;
        }  
        @include desktop{
            padding: 1.5rem 3rem 4rem;
        }
    }
    .site-main{
        max-width:$max-screen-size;
        @include container-flex(column);
        align-items: stretch;
    }
    .page-header{
        text-align: center;
        padding-bottom:.75rem;
        border-bottom: $border-dashed;
    }
    .adventure-container{
        padding-top:2.5rem;
        display:grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 75vw;
        @include tablet{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50vw;
        }
        @include desktop{
            grid-auto-rows:45vw;
        }
        grid-gap:$base__space-unit;
    }
    .single-adventure-container{
        position:relative;
        background:rgb(0,0,0);
        overflow: hidden;
        img{
            width:100%;
            height:100%;
            object-fit: cover;
            opacity: 0.6;
        }
        .adventure-title{
            z-index:99;
            position:absolute;
            top:0rem;
            padding:2rem;
            @include tablet{
                padding:1rem;        
            }
            @include desktop{
                padding:2rem;
            }
            a{
                color:#fff;
                text-transform: uppercase;
                font-family: $font__accent;
                h2{
                    text-transform: none;
                    font-weight: 400;
                    font-family:$font__main;
                    @include font-size(2);
                    @include tablet{
                        margin-bottom:2rem;
                    }
                    @include desktop{
                        @include font-size(3);
                        margin-bottom:3rem;
                    }
                    margin-bottom:3rem;
                }
            }
            .read-more-btn{
                margin-top:2rem;
                padding:0.75rem 1.5rem;
                border:1px solid #fff;
                &:hover{
                    background:$color__green-brand;
                }
            }
        }
    }
    

    

}