.single-adventure{
    .site-header {
        height: 0px;
        width: 100vw;
      }
    .entry-header{
        img{
            width:100vw;
        }
        .entry-title, .entry-meta {
            max-width: 950px;
            padding:0 3rem;
            margin: auto;
        }
        .entry-title{
            margin-top:3rem;
            margin-bottom:0.5rem;
        }
        .entry-meta{
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        font-family: $font__accent;
    }
    .entry-content{
        max-width: 950px;
            padding:1rem 3rem 3rem;
            margin:auto;
    }


}