.single-product{

    .content-area{
        width:100vw;
        min-width:300px;
        padding:1.5rem 3rem 4rem;
        @include container-flex();
    }
    .site-main{
        max-width:$max-screen-size;
        width:100%;
    }
    .type-product{
        display:grid;
        grid-template-columns: 100%;
        grid-auto-rows:60vw auto;
        @include desktop{
            grid-template-columns: 1fr 1fr;
            grid-auto-rows:auto;
        }
        grid-gap:2rem;
    }
    .product-image{
        img{
            max-width: none;
            width:100%;
            height:100%;
            object-fit: cover;
        }

        }
    .product-info{
        .entry-title{
            color:$color__orange-brand;
            margin:0 0 0.5rem;
        }
        .product-price{
            @include font-size(1.8);
            font-family:$font__accent;
            margin-top:0;
        }
    }
    
}